osp/wrappers/wet_synthesis_wrappers/cases/precNMC/precNMC_fluentTemplate/*
simulation-wetSynth**/**
.vscode
__pycache__
*.egg-info
build
dist
*gv
*gv.png

# exceptions
!osp/wrappers/wet_synthesis_wrappers/cases/precNMC/precNMC_fluentTemplate/.gitkeep
