osp/wrappers/wet_synthesis_wrappers/cases/precNMC/meshFiles/*
osp/wrappers/wet_synthesis_wrappers/cases/precNMC/precNMC_fluentTemplate/*
osp/wrappers/wet_synthesis_wrappers/cases/precNMC/precNMC_foamTemplate/*
simulation-wetSynth**/**
.vscode
__pycache__

# exceptions
!osp/wrappers/wet_synthesis_wrappers/cases/precNMC/meshFiles/.gitkeep
!osp/wrappers/wet_synthesis_wrappers/cases/precNMC/precNMC_fluentTemplate/.gitkeep
!osp/wrappers/wet_synthesis_wrappers/cases/precNMC/precNMC_foamTemplate/.gitkeep
